body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  margin-top: 20vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  width: 600px;
  height: 30px;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.list {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
